#selector_board_container {
    display: flex;
}

#aspect_selector {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button-pane {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#info-panel {
    border: solid 3px purple;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aspect_info {
    border: solid 3px orange;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compound-display {
    display: flex;
    justify-content: center;
}

.aspect_image {
    border: solid 3px purple;
}

.hex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hex {
    float: left;
    margin-left: 3px;
    margin-bottom: -26px;
}
.hex .top {
    width: 0;
    border-bottom: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
.hex .middle {
    width: 104px;
    height: 60px;
    background: #6C6;
    display: flex;
    justify-content: center;
}
.hex .bottom {
    width: 0;
    border-top: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}